<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <ion-icon name="camera" class="logo-icon"></ion-icon>
      <h1>Mini Instagram</h1>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" class="ion-margin-top">
          Iniciar Sesión
        </ion-button>

        <div class="register-link">
          <ion-text color="medium">
            ¿No tienes cuenta?
          </ion-text>
          <ion-button fill="clear" (click)="goToRegister()">
            Regístrate
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>